{% extends 'uc_base.html' %}
{% load staticfiles %}
{% block title %}贡献语录 {% endblock %}
{% block uc_content %}
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <h4>贡献语录</h4>
                <hr/>
                <div class="row" style="margin-left: 100px">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.inspire_content }}
                        <div style="margin-left: 150px">
                            <button type="submit" class="input-group-addon"><i class="fa fa-check"></i></button>
                        </div>
                    </form>
                </div>
                <div style="height: 380px;width: 100%">&nbsp;</div>
            </div>
        </div>
    </div>
{% endblock %}
