{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}重置密码 {% endblock %}
{% block content %}
  <div class="col-lg-12" style="margin-left: 500px">
      <div class="panel">
          <div class="panel-body">
              <h4>重置密码</h4>
              <hr/>
              <div class="row col-md-9">
                    <form role="form" method="post">
                         {% csrf_token %}
                          <div class="form-group">
                              密码1：<input name="password1" type="password" class="form-control" placeholder="请输入密码" required style="width: 600px">
                              密码2：<input name="password2" type="password" class="form-control" placeholder="请再次输入密码" required style="width: 600px">
                          </div>
                            <div style="color: orange;font-size: 20px">{{ msg }}</div>
                              <div class="col-lg-offset-3 col-lg-9">
                                  <button type="submit" class="btn btn-danger" id="change" style="margin-left: 250px">提交</button>
                              </div>
                          </div>
                     </form>
              </div>
          </div>
      </div>
  </div>
<div style="height: 350px;width: 100%">&nbsp;</div>
{% endblock %}