{% extends 'uc_base.html' %}
{% load staticfiles %}
{% block title %}修改密码 {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/amazeui.cropper.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_up_img.css' %}">
    <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block uc_content %}
  <div class="col-lg-12">
      <div class="panel">
          <div class="panel-body">
              <h4>修改密码</h4>
              <hr/>
              <div class="row col-md-9">
                    <form class="form-horizontal" role="form" method="post" id="form">
                         {% csrf_token %}
                          <div class="form-group">
{#                              <label for="inputPasswordOld" class="col-lg-5 control-label">旧密码</label>#}
                                  <input name="oldpassword" type="password" class="form-control" id="inputPasswordOld" placeholder="旧密码" required style="width: 600px">
                          </div>
                          <div class="form-group">
{#                              <label for="inputPasswordNew1" class="col-lg-5 control-label">新密码</label>#}
                                  <input name="newpassword1" type="password" class="form-control" id="inputPasswordNew1" placeholder="新密码"  minlength="6" required>
                          </div>
                          <div class="form-group">
{#                              <label for="inputPasswordNew1" class="col-lg-5 control-label">新密码</label>#}
                                  <input name="newpassword2" type="password" class="form-control" id="inputPasswordNew2" placeholder="请再输入一次新密码" minlength="6" required>
                          </div>
                          <div class="form-group">
                              <div class="col-lg-offset-3 col-lg-9">
                                  <button type="button" class="btn btn-danger" id="submit">提交</button>
                              </div>
                          </div>
                     </form>
              </div>
          </div>
      </div>
  </div>
<div style="height: 250px;width: 100%">&nbsp;</div>
{% endblock %}


{% block js %}
<script src="{% static 'js/jquery.js' %}" charset="utf-8"></script>
<script>
{#    var form = $("#form");#}
    $("#submit").click(function () {
        $.ajax({
            url:"{% url 'uc:change_passwd' %}",
            type: "POST",
            data: $("#form").serialize(),
            dataType: "json",
            success: function (result) {
                alert(result["msg"])
            },
            error:function () {
                alert(result["msg"])
            }
        })
    })
</script>
{% endblock%}
